---
layout: page
description: "Faith. Family. Technology."
img-name: "home-bg.jpg"
---
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <p>I'm really glad you're here! Check out some of my creative and/or preaching work. You can also view some of my writings, if you're so inclined. </p>
    </div>
    <div class="col-md-6 col-lg-6">
      <center>
        <img class="img-circle" src="/img/thumb/bibles.jpg" />
        <h2>Preaching</h2>
        <p><a class="btn btn-default vt-p" href="/preaching" role="button">See Samples »</a></p>
      </center>
    </div>
    <div class="col-md-6 col-lg-6">
      <center>
        <h2>Portfolio</h2>
        <p><a class="btn btn-default vt-p" href="/portfolio" role="button">See My Work »</a></p>
      </center>
    </div>
  </div>


  <!-- START THE FEATURETTES -->
  <h1>Fresh from the blog...</h1>
  {% for post in site.posts limit:4 %}
  <hr class="featurette-divider">

  <div class="row featurette">
    {% assign value = post.seq | modulo:2 %}
    {% if value == 0 %}
    <div class="col-md-7">
      <h2 class="featurette-heading"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="lead">{{ post.excerpt }}</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="img/thumb/{{ post.img-name }}" />
    </div>
    {% else %}
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="img/thumb/{{ post.img-name }}" />
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="lead">{{ post.excerpt }}</p>
    </div>
    {% endif %}
    
  </div>
  {% endfor %}

  <hr class="featurette-divider">
  
  <p><a class="btn btn-default" href="/blog" role="button">Read More »</a></p>

  <!-- /END THE FEATURETTES -->
