<!-- Portfolio Links -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">My Work</h2>
          <h3 class="section-subheading text-muted">Check out some of the work I've done.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <img class="img-circle img-responsive center-block" src="/img/thumb/bibles.jpg" />
        <h3>Preach</h3>
        <h4 class="text-muted">I love to study God's Word, and bring it to life.</h4>
        <p><a class="btn btn-default vt-p" href="/preaching" role="button">Hear now &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <img class="img-circle img-responsive center-block" src="/img/thumb/bibles.jpg" />
        <h3>Creative</h3>
        <h4 class="text-muted">I'm passionate about expressing myself is through visual media.</h4>
        <p><a class="btn btn-default vt-p" href="/preaching" role="button">View now &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <img class="img-circle img-responsive center-block" src="/img/thumb/bibles.jpg" />
        <h3>Websites</h3>
        <h4 class="text-muted">I've thrown together a handful of websites over the years.</h4>
        <p><a class="btn btn-default vt-p" href="/preaching" role="button">Surf now &raquo;</a></p>
      </div>
    </div>
  </div>
</section>
<!-- /Portfolio Links -->
